{% trans_default_domain 'ShopBundle' %}
<span id="cart-quantity">{{ productsCount }}</span> {{ 'cart.navbar.goods'|trans }}
<span id="cart-sum">{{ totalSum }}</span> <span>{{ 'currency'|trans }}</span>
