<h4>CATEGORIES</h4>
<div class="list-group">
    {% for category in categories %}
        <a href="{{ path('category', {'id' : category.id}) }}" class="list-group-item">
            {{ category.name }}
        </a>
    {% endfor %}
</div>