{% extends '@Admin/adminLayout.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block page_content -%}
    <h3>{{ 'Measure creation'|trans }}</h3>

    {{ form(form) }}

    <a href="{{ path('admin_measure') }}">
        {{ 'Back to the list'|trans }}
    </a>
{% endblock page_content %}
