<ul class="nav nav-sidebar">
    <li><a href="{{ path('admin_good') }}">Goods</a></li>
    <li><a href="{{ path('admin_category') }}">Categories</a></li>
    <li><a href="{{ path('admin_manufacturer') }}">Manufacturers</a></li>
    <li><a href="#">Orders</a></li>
</ul>