{% extends '@Admin/adminLayout.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block page_content -%}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                {% include "AdminBundle:Admin:admin-menu.html.twig" %}
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-5 col-md-offset-2 main">
                <h3>{{ 'Slide creation'|trans }}</h3>

                {{ form(form) }}

                <a href="{{ path('admin_slide') }}">
                    {{ 'Back to the list'|trans }}
                </a>
            </div>
        </div>
    </div>
{% endblock page_content %}