{% trans_default_domain 'ShopBundle' %}
<h4>{{ 'manufacturers.menu.header'|trans }}</h4>
<div class="list-group">
    {% for manufacturer in manufacturers %}
        <a href="{{ path('manufacturer', {'slug' : manufacturer.slug}) }}" class="list-group-item menu-link">
            {{ manufacturer.name }}
        </a>
    {% endfor %}
</div>
