{% trans_default_domain 'ShopBundle' %}
<span id="cart-quantity">{{ cart.quantity }}</span> {{ 'cart.navbar.goods'|trans }}
<span id="cart-sum">{{ cart.sum }}</span> <span>{{ 'currency'|trans }}</span>
