{% extends "@Shop/layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block page_content %}
    <p>
        {{ 'resetting.check_email'|trans({'%email%': email}) }}
    </p>
{% endblock page_content %}
